* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'dm_serif_displayregular';
    src: url('fonts/dmserifdisplay-regular-webfont.woff2') format('woff2'),
        url('fonts/dmserifdisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'titillium_webregular';
    src: url('fonts/titilliumweb-regular-webfont.woff2') format('woff2'),
         url('fonts/titilliumweb-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'titillium_websemibold';
    src: url('fonts/titilliumweb-semibold-webfont.woff2') format('woff2'),
         url('fonts/titilliumweb-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {
    display: flex;
    font-family: 'dm_serif_displayregular', 'Times New Roman', Times, serif;
    margin: 0;
}

.head {
    background: no-repeat url("images/castle.jpg");
    background-size: cover;
    height: 100vh;
    width: 40%;
    position: relative;
    text-align: center;
}

.head div {
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 20%;
    color: white;
    background-color: rgb(0, 0, 0, 0.5);
    font-size: 1.5rem;
}

#castle-icon {
    height: 4rem;
}

.photo-credit {
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0rem;
    text-align: center;
    font-family: 'titillium_webregular', Arial, Helvetica, sans-serif;
}

a {
    all: unset;
    text-decoration: underline;
}

a:hover {
    cursor: pointer;
    color: bisque;
}

.main-content {
    font-family: 'titillium_websemibold', Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 60%;
    background-color: rgb(255, 240, 223);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-left: 40px;
    margin-right: 120px;
    margin-bottom: 10px;
}

.form-input {
    background-color: rgb(255, 255, 255);
    border-color: ivory;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
    padding-left: 40px;
    padding-right: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.form-input div {
    display: flex;
}

.input {
    display: flex;
    flex-direction: column;
}

.form-input label {
    margin-bottom: 0;
    font-size: 0.85rem;
    font-family: 'titillium_webregular', Arial, Helvetica, sans-serif;
}

.form-input div div:nth-child(even) {
    margin-left: 100px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    margin-bottom: 15px;
    font-family: 'titillium_webregular', Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 200px;
    padding: 0;
}

.subscription label,
.subscription input {
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    all: unset;
    margin-left: 40px;
    border-radius: 25px;
    padding: 10px 40px;
    color: white;
    background-color: rgba(121, 143, 156, 1);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: rgb(146, 98, 93, 1);
    cursor: pointer;
}

button:active {
    background-color: rgb(95, 64, 60);
}

.user-action p {
    margin-left: 40px;
}

.login:hover {
    color: rgba(121, 143, 156, 1);
}